<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Finterest</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/login.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/register.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/profile.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/nav.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/add.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/posts.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/feed.css" />
        <link rel="stylesheet" type="text/css" href="./stylesheets/pin.css" />
    </head>
    <body></body>
</html>
