<div class="nav">
    <div class="left">
        <img class="logo" src="https://cdn2.iconfinder.com/data/icons/weather-flat-5/24/weather-climate-temperature-thermometer-degrees-celsius-fahrenheit_7-512.png" alt="P" />
        <a class="logo-name" href="/profile">Finterest</a>
    </div>
    <div class="right">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a class="button" href="/logout">Logout</a>
    </div>
</div>