<% include ./partials/header.ejs %> <% include ./partials/nav.ejs %>

<div class="pin-container">
    <% posts.forEach((post) => { %>

    <div class="pin">
        <div class="pin-image">
            <img src="<%= post?.image %>" alt="pin" />
        </div>
        <h3>@<%= post.user.username %></h3>
        <h4><a href="/viewfeedpin?id=<%= post._id %>"><%= post.title %></a></h4>
    </div>

    <% }) %>
</div>

<% include ./partials/footer.ejs %>
