<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Finterest</title>
</head>
<body>
    <div class="header">
        <img src="https://images.saymedia-content.com/.image/t_share/MTc4NzM1OTc4MzE0MzQzOTM1/how-to-create-cool-website-backgrounds-the-ultimate-guide.png" alt="">
        <div class="section">
            <div class="nav">
                <div class="left">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/weather-flat-5/24/weather-climate-temperature-thermometer-degrees-celsius-fahrenheit_7-512.png" alt="P" />
                    <a class="logo-name" href="/profile">Finterest</a>
                </div>
                <div class="right">
                    <a class="login" href="/login">Login</a>
                    <a class="register" href="/register">Register</a>
                </div>
            </div>
            <div class="main">
                <h1>Discover Your Next Inspiration On Finterest</h1>
                <p>The best part of Finterest is discovering new things and ideas from people around the world.</p>
                <a href="/register">Explore</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2023 Finterest</p>
    </div>
</body>
</html>